/SFMT/test-sse2-M19937
/SFMT/test-std-M19937
/SFMT/SFMT.11213.out.txt
/SFMT/SFMT.1279.out.txt
/SFMT/SFMT.132049.out.txt
/SFMT/SFMT.19937.out.txt
/SFMT/SFMT.216091.out.txt
/SFMT/SFMT.2281.out.txt
/SFMT/SFMT.4253.out.txt
/SFMT/SFMT.44497.out.txt
/SFMT/SFMT.607.out.txt
/SFMT/SFMT.86243.out.txt
